{{ define "request1.tmpl" }}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="docs/css/styles.css">
	<title>People</title>
</head>

<body>
  <h1>Request1</h1>
  <p>testing for displayed json </p>
  <p>{{.people}}</p>
</body>
</html>
{{ end }}
